body {
  background-color: #a1c9f7;
}
.modal-header-warning {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #f0ad4e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header-primary {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #428bca;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header-success {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header-danger {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #d9534f;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
td {
  white-space: normal;
}
.alert-fixed {
  position:fixed;
  /*top: 20px;
  left: 40px;*/
  margin-top:10px;
  margin-left: 5%;
width: 60%;
  z-index:9999;
  border-radius:1px
}
.pagination > .active-success > a,
.pagination > .active-success > span,
.pagination > .active-success > a:hover,
.pagination > .active-success > span:hover,
.pagination > .active-success > a:focus,
.pagination > .active-success > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #449d44;
  border-color: #255625;
}
.pagination > .active-warning > a,
.pagination > .active-warning > span,
.pagination > .active-warning > a:hover,
.pagination > .active-warning > span:hover,
.pagination > .active-warning > a:focus,
.pagination > .active-warning > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #F0AD4E;
  border-color: #CC9342;
}
.pagination > .active-primary > a,
.pagination > .active-primary > span,
.pagination > .active-primary > a:hover,
.pagination > .active-primary > span:hover,
.pagination > .active-primary > a:focus,
.pagination > .active-primary > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #428BCA;
    border-color: #0e437e;
}
.accepted_field, .accepted_field:focus {
  border-color: green;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px green;
}
.required_field, .required_field:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
fieldset> .row {
    margin-top: -15px;
}
fieldset> .form-group {
  margin-top: -15px;
}
.multiselect-container {
  width: 100%;
}
select option {
  word-wrap: break-word;
}
legend {
  margin-top: -5px;
}
.modal-footer {
  margin-top: -15px;
}
.z-depth-0, .section .map-container img, .modal-dialog.cascading-modal.modal-avatar .modal-header {
  box-shadow: none !important; }

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.hoverable {
  transition: box-shadow .55s;
  box-shadow: 0; }

.hoverable:hover {
  transition: box-shadow .45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.tog.active {
  display: none;
}

.tog span:nth-of-type(1)  {
  display: none;
}
.tog span:last-child  {
  display: block;
}

.tog.active  span:nth-of-type(1)  {
  display: block;
}
.tog.active span:last-child  {
  display: none;
}
/*.selectboxit-container .selectboxit, .selectboxit-container .selectboxit-options {
  width: 100%;
  border-radius:0;
  max-height:240px;
}

.selectboxit-options .selectboxit-option .selectboxit-option-anchor {
  white-space: normal;
  min-height: 30px;
  height: auto;
}*/
/*.table-bordered td, .table-bordered th{
  border: 0.5px solid #24547f !important;
}*/
/*.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/