RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/cms
RewriteRule ^index\.php(.*)$ /cms/$1 [L,R=200]
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]
RewriteCond %{THE_REQUEST} "^[^ ]* .?.php[? ].$"
RewriteRule .* - [L,R=404]
RewriteCond %{HTTPS} =off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]
ErrorDocument 404 /404.php
<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_URI} !/work$
RewriteCond %{REMOTE_ADDR} !^10\.10\.*\.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule $ /work.php [R=302,L]
</IfModule>
